* {
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

.centering {
  text-align: center;
}

.overlayButton {
  padding: 5px 10px;
  margin: 10px;
}

.overlayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  border-radius: 4px;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 5px solid black;
  padding: 10px;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.overlayContent {
  flex: 1 1 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}

.playerSelectionBox {
  border: 3px solid black;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  display: flex;
}

.playerSelectionBottom {
  padding: 10px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dealerRadioButton {
  margin: 0px 20px 0px 10px
}

.deletePlayerButton {
  margin: 0px 10px 0px 20px
}

.deletePlayerButton:disabled {
  opacity: 50%;
}

.sitOutInput {
  margin: 0px 10px 0px 10px;
}

.errorMessage {
  color: rgb(187, 6, 6);
}

.shareButton,
.reloadButton,
.mandatorySoloButton {
  margin: 0px 10px;
}

.pflichtSolo,
.dreifachbock,
.doppelbock,
.bock,
.keinBock {
  font-size: 1.5em;
  margin: 0px 10px;
}

.pflichtSolo {
  color: rgb(8, 69, 236);
}

.dreifachbock {
  color: rgb(172, 20, 20);
}

.doppelbock {
  color: rgb(216, 106, 3);
}

.bock {
  color: rgb(25, 167, 48);
}

.keinBock {
  color: black
}

.playerName,
.playerNameDealer {
  justify-self: center;
  padding: 0px 10px;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

.playerName {
  border-color: rgba(0, 0, 0, 0.0);
}

.playerNameDealer {
  border-color: orange;
}

.isPresent {
  color: rgb(0, 0, 0);
}

.isAbsent {
  color: rgba(0, 0, 0, 0.5);
}

.lastDeal,
.currentDeal,
.score,
.cash {
  justify-self: center;
}

.narrow.lastDeal,
.narrow.currentDeal,
.narrow.score,
.narrow.cash {
  justify-self: right;
}

.scoreLabel,
.score {
  font-weight: bold;
}

.popButton {
  margin: 0px 10px;
}

.narrow.messageArea {
  margin-top: 1em;
  text-align: center;
}

.bottomButton {
  margin-top: 2em;
  margin-left: 10px;
  margin-right: 10px;
}

.statistics_overlayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  border-radius: 4px;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 5px solid black;
  padding: 10px;
}

.statistics_overlayContent {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.statistics_playerNameLabel,
.statistics_dataLabel {
  text-align: left;
  padding: 0px 10px;
}

.statistics_playerName {
  text-align: center;
  padding: 0px 10px;
}

.statistics_data {
  text-align: right;
  padding: 0px 10px;
}

.narrow.statistics_tableContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(90vw - 2 * (10px + 10px + 5px));
}

.narrow.statistics_nameColumn {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.narrow.statistics_dataColumns {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  padding-bottom: 10px;
}

.narrow.statistics_dataColumn {
  display: flex;
  flex-direction: column;
}

.narrow.statistics_playerNameLabel,
.narrow.statistics_playerName,
.narrow.statistics_dataLabel {
  white-space: nowrap;
}

.narrow.statistics_playerNameLabel,
.narrow.statistics_playerName {
  text-align: left;
}